<!DOCTYPE html>
<html lang="pl">

<head>
    <title>MetalBox</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/svg" href="/images/logo.svg">
    <link href="/styles/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <header>
        <img src="/images/logo.svg" alt="Logo" />
        <h2>MetalBox</h2>
    </header>
    <nav>
        <ul>
            <li><a href="/">Informacje</a></li>
            <li><a href="/login">Logowanie</a></li>
            <li><a href="/register">Rejestracja</a></li>
        </ul>
    </nav>
    <section>
        <h3>Wystąpił błąd (403 Forbidden)</h3>
        <p class="no-horizontal-padding">
            Strona jest zastrzeżona.
        </p>
        {% if error %}
            <p class="no-horizontal-padding">Szczegóły błędu: <span class="error">{{error}}</span></p>
        {% endif %}
        <p class="no-horizontal-padding">
            Kliknij <a href="/">tutaj</a>, aby przejść na stronę główną.
        </p>
    </section>
    <footer>
        <p class="footer-inline left">
            <span>&copy; 2020 Bartłomiej Zdrojewski</span>
        </p>
        <p class="footer-inline right">
            <span>
                Stworzone przy pomocy
                <img class="footer-img" src="/images/vs-code-logo.svg" alt="VS Code logo" />
            </span>
        </p>
    </footer>
</body>

</html>
