<!DOCTYPE html>
<html lang="pl">

<head>
    <title>MetalBox</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/svg" href="/images/logo.svg">
    <link href="/styles/main.css" rel="stylesheet" type="text/css" />
    <link href="/styles/table.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <header>
        <img src="/images/logo.svg" alt="Logo" />
        <h2>MetalBox</h2>
    </header>
    <nav>
        <ul>
            <li><a href="/">Informacje</a></li>
            <li><a href="/login">Logowanie</a></li>
            <li><a href="/register">Rejestracja</a></li>
        </ul>
    </nav>
    <section>
        <h3>O nas</h3>
        <p class="justify">
            MetalBox to serwis logistyczny, który daje Ci pewność, że Twoje produkty trafią do Twoich klientów
            szybko i w jednym kawałku. Czujesz się przytłoczony ciągłymi reklamacjami z powodu nieudanych dostaw,
            opóźnień i uszkodzonych paczek? Z nami to nie problem! MetalBox traktuje każdą paczkę z należytą uwagą
            i ostrożnością, abyś Ty mógł skupić się na tym co robisz najlepiej &ndash; na prowadzeniu Twojego biznesu.
        </p>
        <p class="justify">
            Każda dostawa przebiega z wykorzystaniem naszego przystępnego systemu. Zarejestruj i nadaj paczkę,
            a my zajmiemy się resztą i poinformujemy Cię, gdy trafi ona w ręce Twojego klienta. Jeśli potrzebujesz
            więcej informacji, poniżej znajduje się szczegółowy opis oferty. Jeśli jesteś gotowy na łatwiejszą
            logistykę, wybierz "Rejestracja" z menu powyżej.
        </p>
    </section>
    <section>
        <h3>Oferta</h3>
        <p class="justify">
            Nasze usługi dostarczane są w trybie abonamentowym, dostosowanym do Twojej firmy. Zależnie od wybranego
            abonamentu, możesz nadać określoną maksymalną liczbę paczek w miesiącu. Cena podstawowa ustalana jest
            na podstawie określonej minimalnej liczby paczek i jest ona pobierana niezależnie od liczby nadanych paczek.
            Koszt nadania każdej kolejnej paczki jest zgodny z poniższą tabelą.
        </p>
        <p class="justify">
            Pamiętaj, że im więcej nadajesz, tym więcej oszczędzasz i tym krótszy jest czas dostawy!
        </p>
        <table class="color-table caption-bottom">
            <caption>Lista i cennik abonamentów</caption>
            <tbody>
                <tr>
                    <td>Abonament</td>
                    <td>Liczba paczek<br />w miesiącu</td>
                    <td>Czas dostawy<br />(dni robocze)</td>
                    <td>Cena za paczkę</td>
                </tr>
                <tr>
                    <td>Stal</td>
                    <td>1 - 25</td>
                    <td>5</td>
                    <td>12 zł</td>
                </tr>
                <tr>
                    <td>Srebro</td>
                    <td>25 - 100</td>
                    <td>3</td>
                    <td>10 zł</td>
                </tr>
                <tr>
                    <td>Złoto</td>
                    <td>100 - 1000</td>
                    <td>3</td>
                    <td>8 zł</td>
                </tr>
                <tr>
                    <td>Platyna</td>
                    <td>800 - 1000</td>
                    <td>2</td>
                    <td>6 zł</td>
                </tr>
            </tbody>
        </table>
    </section>
    <footer>
        <p class="footer-inline left">
            <span>&copy; 2020 Bartłomiej Zdrojewski</span>
        </p>
        <p class="footer-inline right">
            <span>
                Stworzone przy pomocy
                <img class="footer-img" src="images/vs-code-logo.svg" alt="VS Code logo" />
            </span>
        </p>
    </footer>
</body>

</html>
