<!DOCTYPE html>
<html lang="pl">

<head>
    <title>MetalBox</title>
    <meta charset="utf-8">
    <link rel="icon" href="/images/logo.svg" type="image/svg">
    <link href="/styles/main.css" rel="stylesheet" type="text/css" />
    <link href="/styles/table.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.min.js" type="text/javascript"></script>
    <script src="/scripts/package-service.js" type="text/javascript"></script>
    <script src="/scripts/package-list.js" type="text/javascript"></script>
</head>

<body>
    <header>
        <img src="/images/logo.svg" alt="Logo" />
        <h2>MetalBox</h2>
    </header>
    <nav>
        <ul>
            <li><a href="/secure/package/list">Lista paczek</a></li>
            <li><a href="/secure/package/register">Rejestracja paczek</a></li>
            <li><a href="/secure/logout">Wylogowanie</a></li>
        </ul>
    </nav>
    <section>
        <h3>Lista paczek</h3>
        <table class="package-list-table">
            <thead>
                <tr>
                    <td>Numer seryjny</td>
                    <td>Data zarejestrowania</td>
                    <td>Status</td>
                    <td>Zarządzanie</td>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot></tfoot>
        </table>
    </section>
    <footer>
        <p class="footer-inline left">
            <span>&copy; 2020 Bartłomiej Zdrojewski</span>
        </p>
        <p class="footer-inline right">
            <span>
                Stworzone przy pomocy
                <img class="footer-img" src="/images/vs-code-logo.svg" alt="VS Code logo" />
            </span>
        </p>
    </footer>
</body>

</html>
