<!DOCTYPE html>
<html lang="pl">

<head>
    <title>MetalBox</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/svg" href="/images/logo.svg">
    <link href="/styles/main.css" rel="stylesheet" type="text/css" />
    <link href="/styles/table.css" rel="stylesheet" type="text/css" />
    <script src="/scripts/package-list.js"></script>
</head>

<body>
    <header>
        <img src="/images/logo.svg" alt="Logo" />
        <h2>MetalBox</h2>
    </header>
    <nav>
        <ul>
            <li><a href="/secure/package/list">Lista paczek</a></li>
            <li><a href="/secure/package/register">Rejestracja paczek</a></li>
            <li><a href="/secure/logout">Wylogowanie</a></li>
        </ul>
    </nav>
    <section>
        <h3>Lista paczek</h3>
        <table>
            <tbody>
                <tr>
                    <td>Numer seryjny</td>
                    <td>Data zarejestrowania</td>
                    <td>Status</td>
                    <td>Zarządzanie</td>
                </tr>
                {% for package in package_list %}
                <tr>
                    <td>{{package.serial_number}}</td>
                    <td>{{package.register_date}}</td>
                    <td>{{package.status}}</td>
                    <td><a href="#" package-serial-number="{{package.serial_number}}" package-url="{{package.url}}" onclick="downloadPackageDocument(this)">Pobierz</a>
                    {% if package.is_deletable %}
                    <span> / </span>
                    <a href="#" package-serial-number="{{package.serial_number}}" package-url="{{package.url}}" onclick="deletePackage(this)">Usuń</a></td>
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class="no-horizontal-padding">
            Łącznie {{package_count}} paczek.
        </p>
    </section>
    <footer>
        <p class="footer-inline left">
            <span>&copy; 2020 Bartłomiej Zdrojewski</span>
        </p>
        <p class="footer-inline right">
            <span>
                Stworzone przy pomocy
                <img class="footer-img" src="/images/vs-code-logo.svg" alt="VS Code logo" />
            </span>
        </p>
    </footer>
</body>

</html>
