<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Lab 3</title>
    <meta charset="utf-8">
    <link href="styles/main.css" rel="stylesheet" type="text/css" />
    <link href="styles/nav.css" rel="stylesheet" type="text/css" />
    <link href="styles/table.css" rel="stylesheet" type="text/css" />
    <link href="styles/form.css" rel="stylesheet" type="text/css" />
    <script src="scripts/form-registration.js"></script>
</head>

<body>
    <header>
        <h2>Lab 3</h2>
    </header>
    <nav>
        <ul>
            <li><a href="#">Info</a></li>
            <li><a href="#">Rejestracja</a></li>
            <li><a href="#">Kontakt</a></li>
        </ul>
    </nav>
    <section>
        <h3>Rejestracja</h3>
        <form id="form-registration">
            <p>
                <label for="login">Login</label>
                <input id="login" type="text" name="login"/>
            </p>
            <p>
                <label for="pesel">PESEL</label>
                <input id="pesel" type="text" name="pesel"/>
            </p>
            <p>
                <label for="password">Hasło</label>
                <input id="password" type="password" name="password"/>
            </p>
            <p>
                <label for="second_password">Powtórzenie hasła</label>
                <input id="second_password" type="password" name="second_password"/>
            </p>
            <p>
                <input id="button-register" type="submit" value="Zarejestruj się"/>
            </p>
        </form>
    </section>
    <footer>
        <p class="footer-inline left">&copy; 2020 Bartłomiej Zdrojewski</p>
        <p class="footer-inline right">powered by <img class="footer-img" src="images/vs_code_logo.svg"
                alt="VS Code logo"/></p>
    </footer>
</body>

</html>
